:host {
    display: flex;
    align-items: center;
}

.back-button {
    padding-right: 1.5em;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .5em;
    border-radius: 50px;
    color: #354172;
}

a:hover {
    background-color: #141f49;
    color: #FFF;
    transition: 0.3s ease-in-out;
}
